Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

.codecov.yml:

coverage:
  status:
    project: yes
    patch: yes
    changes: yes

comment:
  # https://docs.codecov.com/docs/pull-request-comments#layout
  # https://docs.codecov.com/docs/changing-your-pr-comment-format
  layout: "header, reach, changes, uncovered, tree, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

flags:
  unit-tests:
    paths:
      - "mockito-core/**"
      - "mockito-extensions/**"
  integration-tests:
    paths:
      - "mockito-integration-tests/**"

chore: move jspecify as a compile only dependency
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/module-info.java
Due: unit-tests

chore: update BDDMockito with jspecify annotation
  mockito-core/src/main/java/org/mockito/BDDMockito.java
Due: unit-tests

chore: add jspecify with minimal change. Fixes #3503
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
  mockito-core/src/main/java/module-info.java
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/stubbing/OngoingStubbing.java
Due: unit-tests

fix: make spotless happy
  mockito-core/src/main/java/org/mockito/stubbing/OngoingStubbing.java
Due: unit-tests

Fix StackOverflowError when mocking after singleton mock is closed
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/util/collections/WeakIdentityMap.java
  mockito-core/src/test/java/org/mockito/internal/util/collections/WeakIdentityMapTest.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/RecursionTest.java
Due: unit-tests, integration-tests

Replace mockito-android mock maker implementation with dexmaker-mockito-inline
  .github/workflows/ci.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
  gradle/libs.versions.toml
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/util/Platform.java
  mockito-extensions/mockito-android/build.gradle.kts
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidByteBuddyMockMaker.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidLoadingStrategy.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidTempFileLocator.java
  mockito-extensions/mockito-android/src/main/resources/mockito-extensions/org.mockito.plugins.MockMaker
  mockito-integration-tests/android-tests/build.gradle.kts
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/BasicInstrumentedTests.kt
  settings.gradle.kts
Due: unit-tests, integration-tests

Replace mockito-android mock maker implementation with dexmaker-mockito-inline (#3792)
  .github/workflows/ci.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
  gradle/libs.versions.toml
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/util/Platform.java
  mockito-extensions/mockito-android/build.gradle.kts
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidByteBuddyMockMaker.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidLoadingStrategy.java
  mockito-extensions/mockito-android/src/main/java/org/mockito/android/internal/creation/AndroidTempFileLocator.java
  mockito-extensions/mockito-android/src/main/resources/mockito-extensions/org.mockito.plugins.MockMaker
  mockito-integration-tests/android-tests/build.gradle.kts
  mockito-integration-tests/android-tests/src/androidTest/java/org/mockitousage/androidtest/BasicInstrumentedTests.kt
  settings.gradle.kts
Due: unit-tests, integration-tests

Update mockSingleton already registered exception message
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
Due: unit-tests

Fix StackOverflowError with AbstractList after using mockSingleton (#3790)
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/util/collections/WeakIdentityMap.java
  mockito-core/src/test/java/org/mockito/internal/util/collections/WeakIdentityMapTest.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/RecursionTest.java
Due: unit-tests, integration-tests

Fixes mockito#3536 : Implement SpyStatic API
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Add unit tests to the SpyStatic API
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SpyStaticTest.java
Due: integration-tests

Fix non-deterministic AssertionError when using MockMakers.SUBCLASS (#3406)
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

Fixes #3536 : Implement SpyStatic API (#3794)
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SpyStaticTest.java
Due: unit-tests, integration-tests

Fix non-deterministic AssertionError when using MockMakers.SUBCLASS (#3406) (#3795)
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

fix: do not mask exception
  mockito-core/src/main/java/org/mockito/internal/exceptions/Reporter.java
Due: unit-tests

Fixes #2398 : Implement suppress static initialization leveraging javaagent
  mockito-core/src/main/java/org/mockito/SuppressStaticInitializationFor.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttachAccess.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/BytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/TypeCachingBytecodeGenerator.java
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/SuppressClinitTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/SuppressStaticInitializationMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/TypeCachingMockBytecodeGeneratorTest.java
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoExtension.java
  mockito-extensions/mockito-junit-jupiter/src/test/java/org/mockitousage/SuppressStaticInitializationTest.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SuppressStaticInitializationTest.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

Fix spotless violations
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/SuppressStaticInitializationMockMakerTest.java
Due: unit-tests

Skip SuppressClinitTest inline-only tests when a different mock maker is active
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/SuppressClinitTest.java
Due: unit-tests

Add more tests to increase the code coverage
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/SuppressClinitTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/TypeCachingMockBytecodeGeneratorTest.java
  mockito-extensions/mockito-junit-jupiter/src/test/java/org/mockitousage/SuppressStaticInitializationTest.java
Due: unit-tests

Fixes mockito#2398 : Implement global suppress static initialization leveraging javaagent
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttach.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/PremainAttachTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
  mockito-integration-tests/inline-mocks-tests/build.gradle.kts
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/PremainClinitSuppressionTest.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

Returns null if matching class has no clinit to suppress
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/PremainAttachTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Deletes clinit instead of simple return
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Revert "Deletes clinit instead of simple return"
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Adds comment to explain why clinit is stubbed but not deleted
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
Due: unit-tests

Add test to make sure serialVersionUID is preserved
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Replaces raw generic types with type parameters
  mockito-core/src/main/java/org/mockito/MockingDetails.java
  mockito-core/src/main/java/org/mockito/internal/MockedStaticImpl.java
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/framework/DisabledMockHandler.java
  mockito-core/src/main/java/org/mockito/internal/invocation/DefaultInvocationFactory.java
  mockito-core/src/main/java/org/mockito/internal/invocation/RealMethod.java
  mockito-core/src/main/java/org/mockito/internal/listeners/StubbingLookupNotifier.java
  mockito-core/src/main/java/org/mockito/internal/listeners/VerificationStartedNotifier.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgress.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/main/java/org/mockito/internal/util/DefaultMockingDetails.java
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-core/src/main/java/org/mockito/invocation/InvocationFactory.java
  mockito-core/src/main/java/org/mockito/listeners/MockCreationListener.java
  mockito-core/src/main/java/org/mockito/listeners/StubbingLookupEvent.java
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/AbstractMockMakerTest.java
  mockito-core/src/test/java/org/mockitointegration/DeferMockMakersClassLoadingTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/switcher/MyMockMaker.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

Replaces raw generic types with type parameters (#3806)
  mockito-core/src/main/java/org/mockito/MockingDetails.java
  mockito-core/src/main/java/org/mockito/internal/MockedStaticImpl.java
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/proxy/ProxyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/framework/DisabledMockHandler.java
  mockito-core/src/main/java/org/mockito/internal/invocation/DefaultInvocationFactory.java
  mockito-core/src/main/java/org/mockito/internal/invocation/RealMethod.java
  mockito-core/src/main/java/org/mockito/internal/listeners/StubbingLookupNotifier.java
  mockito-core/src/main/java/org/mockito/internal/listeners/VerificationStartedNotifier.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgress.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/main/java/org/mockito/internal/util/DefaultMockingDetails.java
  mockito-core/src/main/java/org/mockito/internal/util/MockUtil.java
  mockito-core/src/main/java/org/mockito/invocation/InvocationFactory.java
  mockito-core/src/main/java/org/mockito/listeners/MockCreationListener.java
  mockito-core/src/main/java/org/mockito/listeners/StubbingLookupEvent.java
  mockito-core/src/main/java/org/mockito/plugins/MockMaker.java
  mockito-core/src/test/java/org/mockito/internal/creation/AbstractMockMakerTest.java
  mockito-core/src/test/java/org/mockitointegration/DeferMockMakersClassLoadingTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/switcher/MyMockMaker.java
  mockito-integration-tests/programmatic-tests/src/test/java/org/mockito/ProgrammaticMockMakerTest.java
Due: unit-tests, integration-tests

Update ErrorProne from 2.42.0 to 2.49.0
  .github/workflows/ci.yml
  buildSrc/src/main/kotlin/mockito.java-library-conventions.gradle.kts
  gradle/libs.versions.toml
Due: none

Fixes #2398 : Implement global suppress static initialization leveraging java agent (#3801)
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttach.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/PremainAttachTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
  mockito-integration-tests/inline-mocks-tests/build.gradle.kts
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/PremainClinitSuppressionTest.java
Due: unit-tests, integration-tests

Upgrade Android Gradle Plugin to 8.13.2
  .gitignore
  gradle/libs.versions.toml
  mockito-extensions/mockito-android/build.gradle.kts
Due: unit-tests

Fix Android integration test code coverage
  .github/workflows/ci.yml
  mockito-integration-tests/android-tests/build.gradle.kts
Due: integration-tests

Add Android API 36 to CI matrix
  .github/workflows/ci.yml
Due: none

Upgrade Android Gradle Plugin to 8.13.2 (#3812)
  .github/workflows/ci.yml
  .gitignore
  gradle/libs.versions.toml
  mockito-extensions/mockito-android/build.gradle.kts
  mockito-integration-tests/android-tests/build.gradle.kts
Due: unit-tests, integration-tests

require Java 17 and set JUnit to 6 for mockito-junit-jupiter - fixes 3779
  gradle/libs.versions.toml
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-inline-mock-maker-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-parallel-tests/build.gradle.kts
Due: unit-tests, integration-tests

require Java 21 for java-21-tests or skip
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: integration-tests

introduce convention plugin for Java 17 override - fixes 3779
  buildSrc/src/main/kotlin/Common.kt
  buildSrc/src/main/kotlin/mockito.test-conventions-java-17.gradle.kts
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-inline-mock-maker-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-parallel-tests/build.gradle.kts
Due: unit-tests, integration-tests
