Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

.codecov.yml:

coverage:
  status:
    project: yes
    patch: yes
    changes: yes

comment:
  # https://docs.codecov.com/docs/pull-request-comments#layout
  # https://docs.codecov.com/docs/changing-your-pr-comment-format
  layout: "header, reach, changes, uncovered, tree, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

flags:
  unit-tests:
    paths:
      - "mockito-core/**"
      - "mockito-extensions/**"
  integration-tests:
    paths:
      - "mockito-integration-tests/**"

introduce convention plugin for Java 21 requirement
  buildSrc/src/main/kotlin/mockito.test-conventions-java-21.gradle.kts
  mockito-integration-tests/java-21-tests/build.gradle.kts
Due: integration-tests

unify convention plugins into single test-jvm-conventions - fixes 3779
  buildSrc/src/main/kotlin/mockito.test-conventions-java-17.gradle.kts
  buildSrc/src/main/kotlin/mockito.test-conventions-java-21.gradle.kts
  buildSrc/src/main/kotlin/mockito.test-jvm-conventions.gradle.kts
  gradle/libs.versions.toml
  mockito-core/build.gradle.kts
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
  mockito-integration-tests/android-tests/build.gradle.kts
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/graalvm-tests/build.gradle.kts
  mockito-integration-tests/java-21-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-inline-mock-maker-extension-tests/build.gradle.kts
  mockito-integration-tests/junit-jupiter-parallel-tests/build.gradle.kts
Due: unit-tests, integration-tests

Make InlineByteBuddyMockMaker thread-safe
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMaker.java
Due: unit-tests

Make InlineByteBuddyMockMaker thread-safe
  mockito-core/src/main/java/org/mockito/internal/handler/MockHandlerImpl.java
Due: unit-tests

Fixes #3814 : implement package-level clinit suppression
  mockito-core/src/main/java/org/mockito/internal/PremainAttach.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/PremainAttachTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Add @CanIgnoreReturnValue annotation
  mockito-core/src/main/java/org/mockito/CanIgnoreReturnValue.java
Due: unit-tests

Fix tests
  mockito-core/src/test/java/org/mockito/MockTest.java
  mockito-core/src/test/java/org/mockito/MockitoTest.java
  mockito-core/src/test/java/org/mockito/internal/configuration/plugins/PluginLoaderTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ByteBuddyMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineByteBuddyMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMakerTest.java
  mockito-core/src/test/java/org/mockito/internal/framework/DefaultMockitoFrameworkTest.java
  mockito-core/src/test/java/org/mockito/internal/handler/InvocationNotifierHandlerTest.java
  mockito-core/src/test/java/org/mockito/internal/progress/VerificationModeBuilder.java
  mockito-core/src/test/java/org/mockito/internal/session/DefaultMockitoSessionBuilderTest.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/InvocationContainerImplTest.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/answers/AnswersWithDelayTest.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/defaultanswers/ReturnsDeepStubsConcurrentTest.java
  mockito-core/src/test/java/org/mockito/internal/util/SimpleMockitoLogger.java
  mockito-core/src/test/java/org/mockito/internal/util/reflection/FieldInitializerTest.java
  mockito-core/src/test/java/org/mockito/internal/util/reflection/ParameterizedConstructorInstantiatorTest.java
  mockito-core/src/test/java/org/mockitousage/annotation/SpyInjectionTest.java
Due: unit-tests

Fixes #3818 : Fix data race in InvocationContainerImpl.invocationForStubbing
  mockito-core/src/main/java/org/mockito/internal/stubbing/InvocationContainerImpl.java
Due: unit-tests

Fixes #3814 : implement package-level clinit suppression (#3815)
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/PremainAttach.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformer.java
  mockito-core/src/test/java/org/mockito/internal/PremainAttachTest.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/ClinitSuppressionTransformerTest.java
Due: unit-tests

Add `captorForClass` static alias of `ArgumentCaptor.forClass`
  mockito-core/src/main/java/org/mockito/ArgumentCaptor.java
  mockito-core/src/test/java/org/mockito/ArgumentCaptorTest.java
Due: unit-tests

Improve Gradle agent docs for configuration cache
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Improve Gradle agent docs for configuration cache (#3823)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Add InvocationOnMock::getInvocationCount for stateful Answers
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/invocation/InvocationOnMock.java
  mockito-core/src/test/java/org/mockitousage/invocation/InvocationOnMockTest.java
Due: unit-tests

Fixes #3745: add MockTracking option to enforce strictness on instantiated mocks
  mockito-core/src/main/java/module-info.java
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockTracking.java
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoExtension.java
  mockito-extensions/mockito-junit-jupiter/src/main/java/org/mockito/junit/jupiter/MockitoSettings.java
  mockito-extensions/mockito-junit-jupiter/src/test/java/org/mockitousage/MockTrackingTest.java
Due: unit-tests

Fix NotAMockException when using mockSingleton with MockitoJUnit
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgress.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/main/java/org/mockito/listeners/MockCreationListener.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SingletonMockWithJUnitTest.java
Due: unit-tests, integration-tests

Fix NotAMockException when using mockSingleton with MockitoJUnit (#3827)
  mockito-core/src/main/java/org/mockito/internal/MockitoCore.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgress.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/main/java/org/mockito/listeners/MockCreationListener.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SingletonMockWithJUnitTest.java
Due: unit-tests, integration-tests

Fix clearInlineMocks not de-registering singleton mocks
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SingletonMockTest.java
Due: unit-tests, integration-tests

Remove clearMock singleton handling
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SingletonMockTest.java
Due: unit-tests, integration-tests

Fix clearInlineMocks not de-registering singleton mocks (#3829)
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/SingletonMockTest.java
Due: unit-tests, integration-tests

Replace constant hashcode
  mockito-core/src/main/java/org/mockito/internal/invocation/InterceptedInvocation.java
  mockito-core/src/main/java/org/mockito/internal/invocation/SerializableMethod.java
  mockito-core/src/main/java/org/mockito/internal/matchers/Equals.java
  mockito-core/src/test/java/org/mockito/internal/matchers/EqualsTest.java
Due: unit-tests

Hash on class names instead of class identity
  mockito-core/src/main/java/org/mockito/internal/invocation/SerializableMethod.java
Due: unit-tests

Fixes #2740 : Add mockMaker option to @Spy annotation
  mockito-core/src/main/java/org/mockito/Spy.java
  mockito-core/src/main/java/org/mockito/internal/configuration/SpyAnnotationEngine.java
  mockito-core/src/main/java/org/mockito/internal/configuration/SpyAnnotationUtil.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/SpyOnInjectedFieldsHandler.java
  mockito-core/src/test/java/org/mockitousage/annotation/SpyAnnotationTest.java
Due: unit-tests

Fixes #2740 : Add mockMaker option to @Spy annotation (#3835)
  mockito-core/src/main/java/org/mockito/Spy.java
  mockito-core/src/main/java/org/mockito/internal/configuration/SpyAnnotationEngine.java
  mockito-core/src/main/java/org/mockito/internal/configuration/SpyAnnotationUtil.java
  mockito-core/src/main/java/org/mockito/internal/configuration/injection/SpyOnInjectedFieldsHandler.java
  mockito-core/src/test/java/org/mockitousage/annotation/SpyAnnotationTest.java
Due: unit-tests

docs(when-verify): fixes to explanations about redundancy
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

docs(when-verify): fixes to explanations about redundancy (#3838)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Remove hamcrest from extensions-tests migrating to JUnit Jupiter
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/donotmockenforcer/DoNotmockEnforcerTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/instantiator/InstantiatorProviderTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/stacktrace/PluginStackTraceFilteringTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/switcher/PluginSwitchTest.java
Due: integration-tests

Drop hamcrest from extensions-tests
  mockito-integration-tests/extensions-tests/build.gradle.kts
Due: integration-tests

Add JUnit5 TestBase5
  mockito-core/build.gradle.kts
  mockito-core/src/testFixtures/java/org/mockitoutil/TestBase5.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/stacktrace/PluginStackTraceFilteringTest.java
Due: unit-tests, integration-tests

Upgrade Android Gradle Plugin to 9.2.1
  .gitignore
  buildSrc/src/main/kotlin/mockito.publication-conventions.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  mockito-integration-tests/android-tests/build.gradle.kts
Due: integration-tests

Remove unused methods
  mockito-core/src/testFixtures/java/org/mockitoutil/TestBase5.java
Due: unit-tests

Migrate extensions-tests to JUnit Jupiter (#3840)
  mockito-core/build.gradle.kts
  mockito-core/src/testFixtures/java/org/mockitoutil/TestBase5.java
  mockito-integration-tests/extensions-tests/build.gradle.kts
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/donotmockenforcer/DoNotmockEnforcerTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/instantiator/InstantiatorProviderTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/stacktrace/PluginStackTraceFilteringTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/switcher/PluginSwitchTest.java
Due: unit-tests, integration-tests

Include superclass class loaders when defining subclass mocks
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-integration-tests/osgi-tests/build.gradle.kts
  mockito-integration-tests/osgi-tests/src/depBundle/java/org/mockito/osgitest/depbundle/ForeignType.java
  mockito-integration-tests/osgi-tests/src/otherBundle/java/org/mockito/osgitest/otherbundle/SuperClassReferencingOtherBundle.java
  mockito-integration-tests/osgi-tests/src/test/java/org/mockito/osgitest/OsgiTest.java
  mockito-integration-tests/osgi-tests/src/testBundle/java/org/mockito/osgitest/testbundle/MockSubclassAcrossBundlesTest.java
  mockito-integration-tests/osgi-tests/src/testBundle/java/org/mockito/osgitest/testbundle/SubClassInTestBundle.java
Due: unit-tests, integration-tests

Print object fields via reflection when `toString()` is not implemented
  mockito-core/src/main/java/org/mockito/internal/matchers/apachecommons/ReflectionEquals.java
  mockito-core/src/main/java/org/mockito/internal/matchers/text/ValuePrinter.java
  mockito-core/src/test/java/org/mockito/internal/matchers/apachecommons/ReflectionEqualsTest.java
  mockito-core/src/test/java/org/mockito/internal/matchers/text/ValuePrinterTest.java
  mockito-core/src/test/java/org/mockitousage/matchers/ReflectionMatchersTest.java
  mockito-core/src/test/java/org/mockitousage/matchers/ReflectivePrintingTest.java
Due: unit-tests

Update decommissioned s01.oss.sonatype.org snapshot URL to Central Portal (README.md)
  README.md
Due: none

Update decommissioned s01.oss.sonatype.org snapshot URL to Central Portal (buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts)
  buildSrc/src/main/kotlin/mockito.root.releasing-conventions.gradle.kts
Due: none

Print object fields via reflection when `toString()` is not implemented (#3844)
  mockito-core/src/main/java/org/mockito/internal/matchers/apachecommons/ReflectionEquals.java
  mockito-core/src/main/java/org/mockito/internal/matchers/text/ValuePrinter.java
  mockito-core/src/test/java/org/mockito/internal/matchers/apachecommons/ReflectionEqualsTest.java
  mockito-core/src/test/java/org/mockito/internal/matchers/text/ValuePrinterTest.java
  mockito-core/src/test/java/org/mockitousage/matchers/ReflectionMatchersTest.java
  mockito-core/src/test/java/org/mockitousage/matchers/ReflectivePrintingTest.java
Due: unit-tests

Restore interrupt flag when AnswersWithDelay is interrupted during the delay
  mockito-core/src/main/java/org/mockito/internal/stubbing/answers/AnswersWithDelay.java
  mockito-core/src/test/java/org/mockito/internal/stubbing/answers/AnswersWithDelayTest.java
Due: unit-tests

Support useConstructor with mockConstruction
  mockito-core/src/main/java/org/mockito/MockSettings.java
  mockito-core/src/main/java/org/mockito/Mockito.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineDelegateByteBuddyMockMaker.java
  mockito-integration-tests/inline-mocks-tests/src/test/java/org/mockitoinline/ConstructionMockTest.java
Due: unit-tests, integration-tests
