Repository mockito/mockito: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, integration-tests

.codecov.yml:

coverage:
  status:
    project: yes
    patch: yes
    changes: yes

comment:
  # https://docs.codecov.com/docs/pull-request-comments#layout
  # https://docs.codecov.com/docs/changing-your-pr-comment-format
  layout: "header, reach, changes, uncovered, tree, diff, flags, files, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null

flags:
  unit-tests:
    paths:
      - "mockito-core/**"
      - "mockito-extensions/**"
  integration-tests:
    paths:
      - "mockito-integration-tests/**"

Allow do* stubbing with RETURNS_DEEP_STUBS path
  mockito-core/src/main/java/org/mockito/internal/handler/MockHandlerImpl.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgress.java
  mockito-core/src/main/java/org/mockito/internal/progress/MockingProgressImpl.java
  mockito-core/src/test/java/org/mockitousage/bugs/deepstubs/DeepStubsDoStyleStubbingTest.java
Due: unit-tests

fix: improve disabled mock diagnostics
  mockito-core/src/main/java/org/mockito/exceptions/misusing/DisabledMockException.java
  mockito-core/src/main/java/org/mockito/internal/framework/DisabledMockHandler.java
  mockito-core/src/test/java/org/mockito/internal/framework/DefaultMockitoFrameworkTest.java
Due: unit-tests

Upgrade actions/setup-java to v6
  .github/workflows/ci.yml
Due: none

Preserve method parameters when clearing inline mocks
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/test/java/org/mockito/MockitoClearTest.java
Due: unit-tests

Keep JUnit dependencies Java 11 compatible
  .github/dependabot.yml
  gradle/libs.versions.toml
Due: none

Keep inline cache clearing state thread-local
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGeneratorTest.java
Due: unit-tests

reuse the deep stub when the same matcher is asked for again
  mockito-core/src/main/java/org/mockito/internal/stubbing/InvocationContainerImpl.java
  mockito-core/src/test/java/org/mockitousage/stubbing/DeepStubbingTest.java
Due: unit-tests

Scope inline transformation failures per operation
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGenerator.java
  mockito-core/src/test/java/org/mockito/internal/creation/bytebuddy/InlineBytecodeGeneratorTest.java
Due: unit-tests

Retry subclass mock creation with superclass loaders on NoClassDefFoundError
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassByteBuddyMockMaker.java
  mockito-core/src/main/java/org/mockito/internal/creation/bytebuddy/SubclassBytecodeGenerator.java
  mockito-integration-tests/osgi-tests/build.gradle.kts
  mockito-integration-tests/osgi-tests/src/depBundle/java/org/mockito/osgitest/depbundle/ForeignType.java
  mockito-integration-tests/osgi-tests/src/otherBundle/java/org/mockito/osgitest/otherbundle/SuperclassWithForeignType.java
  mockito-integration-tests/osgi-tests/src/test/java/org/mockito/osgitest/OsgiTest.java
  mockito-integration-tests/osgi-tests/src/testBundle/java/org/mockito/osgitest/testbundle/MockSubclassWithForeignSuperclassTest.java
  mockito-integration-tests/osgi-tests/src/testBundle/java/org/mockito/osgitest/testbundle/SubclassOfForeignSuperclass.java
Due: unit-tests, integration-tests

Fix Mockito docs for -javaagent flag with Gradle (#3866)
  mockito-core/src/main/java/org/mockito/Mockito.java
Due: unit-tests

Allow mockito-junit-jupiter to resolve with JUnit 6 in OSGi
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Allow mockito-junit-jupiter to resolve with JUnit 6 in OSGi (#3867)
  mockito-extensions/mockito-junit-jupiter/build.gradle.kts
Due: unit-tests

Capture arguments once per invocation when verifying over time
  mockito-core/src/main/java/org/mockito/internal/verification/VerificationOverTimeImpl.java
  mockito-core/src/test/java/org/mockito/internal/verification/VerificationOverTimeImplTest.java
  mockito-core/src/test/java/org/mockito/verification/TimeoutTest.java
  mockito-core/src/test/java/org/mockitousage/verification/VerificationWithAfterAndCaptorTest.java
Due: unit-tests

Value Renderer Plugin
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginFileReader.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginFinder.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/PluginRegistry.java
  mockito-core/src/main/java/org/mockito/internal/configuration/plugins/Plugins.java
  mockito-core/src/main/java/org/mockito/internal/listeners/VerificationStartedNotifier.java
  mockito-core/src/main/java/org/mockito/internal/matchers/Equals.java
  mockito-core/src/main/java/org/mockito/internal/matchers/Same.java
  mockito-core/src/main/java/org/mockito/internal/matchers/apachecommons/ReflectionEquals.java
  mockito-core/src/main/java/org/mockito/internal/matchers/text/DefaultValueRenderer.java
  mockito-core/src/main/java/org/mockito/internal/matchers/text/MatchersPrinter.java
  mockito-core/src/main/java/org/mockito/internal/matchers/text/ValuePrinters.java
  mockito-core/src/main/java/org/mockito/plugins/ValueRenderer.java
  mockito-core/src/test/java/org/mockito/internal/configuration/plugins/PluginFileReaderTest.java
  mockito-core/src/test/java/org/mockito/internal/configuration/plugins/PluginFinderTest.java
  mockito-core/src/test/java/org/mockito/internal/matchers/text/DefaultValueRendererTest.java
  mockito-core/src/test/java/org/mockito/internal/matchers/text/ValuePrintersTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/switcher/PluginSwitchTest.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/valuerenderer/MyAnnotationValueRenderer.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/valuerenderer/MyDebugValueRenderer.java
  mockito-integration-tests/extensions-tests/src/test/java/org/mockitousage/plugins/valuerenderer/ValueRendererTest.java
  mockito-integration-tests/extensions-tests/src/test/resources/mockito-extensions/org.mockito.plugins.ValueRenderer
Due: unit-tests, integration-tests

ArrayEquals toString method
  mockito-core/src/main/java/org/mockito/internal/matchers/ArrayEquals.java
  mockito-core/src/test/java/org/mockito/internal/matchers/MatchersToStringTest.java
Due: unit-tests
